{% extends "_base.html" %}

{% load django_bootstrap5 %}

{% block content %}

<div class="container">

    <h1 class="mt-5">
        Registrar usuario
    </h1>
    
  <hr class="my-4">

{{ form.non_field_errors }}

        <form action="{% url 'register_check' %}" method="post" enctype="multipart/form-data">

         {% csrf_token %}

        
         <div class="form-group" >
           {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Correo</label>
            <input type="text" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_email }}" required placeholder="Email">
            
        </div>

        <div class="form-group">
         {{ form.username.errors }}
            <label for="{{ form.username.id_for_label }}">usuario</label>
            
            <input type="text" class="form-control" name="{{ form.username.name }}" required id="{{ form.username.id_username }}" placeholder="Username">
        </div>

        <div class="form-group">
            {{ form.password.errors }}
                <label for="{{ form.password.id_for_label }}">Password</label>
                
                <input type="password" class="form-control" name="{{ form.password.name }}" required id="{{ form.password.id_password }}" placeholder="Password">
                 
        </div>

        <div class="form-group">
            {{ form.confirm_password.errors }}
                <label for="{{ form.confirm_password.id_for_label }}">Confirma password</label>
                
                <input type="password" class="form-control" name="{{ form.confirm_password.name }}" required id="{{ form.confirm_password.id_password }}" placeholder="Password confirm">
                 
        </div>

        <hr  class="my-4">

        <button class="btn btn-primary" type="submit">Registrar</button> 

        </form>

<hr  class="my-2">

<center>
    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</center>


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show custom-alert" role="alert">
    <strong> {{ message }} </strong>
</div>
{% endfor %}
{% endif %}

{% endblock content %}