{% extends "_base.html" %}

{% load django_bootstrap5 %}

{% block content %}

{% if user.is_authenticated %}

<div class="container">

  <h3>
  {{email.email}}
  </h3>

  <hr class="my-4">

  <ul class="list-group">
        <li class="list-group-item">Pertenece al dominio: {{email.domain}}</li>
        <li class="list-group-item">creado: {{email.time}}</li>
        <li class="list-group-item">ip: {{email.ip}}</li>
        <li class="list-group-item">estado: {{email.state}}</li>
        <li class="list-group-item">desc: {{email.description}}</li>
  </ul>


<hr  class="my-2">

<center>
   <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</center>

</div>

{% endif %}

{% endblock content %}