{% extends "base.html" %}

{% block content %}



<div class="jumbotron jumbotron-fluid">
        <h3 class="display-4">Contactar soporte</h3>
</div>

<div class="container-fluid">
  <hr class="my-4">

{{ form.non_field_errors }}

        <form action="{% url 'email_contact' %}" method="post" enctype="multipart/form-data">

         {% csrf_token %}

        
         <div class="form-group" >
           {{ form.email.errors }}
            <label for="{{ form.email.id_for_label }}">Contacto</label>
            <input type="text" class="form-control" name="{{ form.email.name }}" id="{{ form.email.id_email }}" required placeholder="Example input">
            
        </div>

         <div class="form-group">
         {{ form.subject.errors }}
            <label for="{{ form.subject.id_for_label }}">Subject</label>
            
            <input type="text" class="form-control" name="{{ form.subject.name }}" required id="{{ form.subject.id_subject }}" placeholder="Another input">
        </div>

        <div class="form-group">
        {{ form.message.errors }}
            <label for="{{ form.message.id_for_label }}">Mensaje</label>
            
             <textarea class="form-control" name="{{ form.message.name }}" id="{{ form.message.id_message }}" required rows="3"></textarea>
        </div>
      

        <hr  class="my-4">



        <button class="btn btn-primary" type="submit">Enviar</button> 

        </form>

<hr  class="my-4">

<center>
    <a class="btn btn-primary btn-lg" href="/" role="button">Home</a>
</center>


{% if messages %}
{% for message in messages %}
<div class="alert alert-{{ message.tags }} alert-dismissible fade show custom-alert" role="alert">
    <strong> {{ message }} </strong>
</div>
{% endfor %}
{% endif %}

{% endblock content %}